<template>
  <v-card> <cartest></cartest></v-card>
</template>

<script>
import Cartest from "../components/cartest.vue";
export default {
  components: { Cartest },
  data() {},
};
</script>

<style>
</style>
