<template>
  <Test></Test>
</template>

<script>
import Test from "../components/test";
export default {
  components: { Test },
  name: "test",
  data() {
    return {};
  },
};
</script>

<style></style>
